body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  width: calc(100% - 20px * 2);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  background: #00000065;
  padding: 20px;
}

.page-content {
  width: 100svw;
  left: 0;
  position: absolute;
  bottom: 0;
  height: calc(100svh - 61px);
}

a {
  color: red;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0) scaleY(0);
  transform-origin: right top;
  transition: transform 0.3s ease;
  z-index: -1;
}

a:hover {
  color: white;
}

a:hover::before {
  transform: scaleX(1) scaleY(1);
}
